global:
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:
    env: production

scrape_configs:

  - job_name: 'api_cpp'
    static_configs:
      - targets: ['api_cpp:8080']
    metrics_path: /metrics

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
